<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Add a new lesson<h1>
  <h2><%= current_section.course.title %>:<%= current_section.title %></h1>
  <%= simple_form_for @lesson, :url => instructor_section_lessons_path(current_section) do |f| %>
  	<%= f.input :title %>
  	<%= f.input :subtitle %>

  	<%= f.submit 'Add Lesson', :class => 'btn btn-primary' %>
  <% end %>
</div>