
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1 class='text-center'><%= @course.title %></h1>
	<%= image_tag @course.image, :class => 'img-responsive' %> 
	<div class='col-sm-9 col-xs-12'>
		<p><%= @course.description %></p>	
	</div>
	<div class='col-sm-3 col-xs-12 text-center'>
		<br />
		<% if current_user && current_user == @course.user %>
			<%= link_to 'Administer', instructor_course_path(@course), :class => 'btn btn-primary' %>
		<% end %>
		<% if current_user && current_user.enrolled_in?(@course) %>
			<%= link_to 'Unenroll', course_enrollment_path(@course, current_enrollment), :class => 'btn btn-primary', :method => :delete %>
		<% else %>
			<%= link_to 'Enroll', course_enrollments_path(@course), :class => 'btn btn-primary', :method => :post %>
		<% end %>
		<span class='label label-default'>
			<%= number_to_currency @course.cost %>
		</span>

	</div>
	<div class='col-xs-12'>
		<% @course.sections.each do |section| %>
			<br />
			<div class='section'>
				<h3><%= section.title %></h3>
				<% section.lessons.each do |lesson| %>
					<div class='col-xs-12 col-sm-6 col-md-4'>
						<div class='lesson text-center'>
							<br >
							<%= link_to lesson_path(lesson) do %>
								<b><%= lesson.title %></b>
								<br />
								<%= lesson.subtitle %>
							<% end %>
						</div>
					</div>
				<% end %>
				<br class='clr' />
			</div>
		<% end %>
	</div>
	
	
</div>