<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.11/video.js"></script>
  <style type="text/css">
    .vjs-default-skin { color: #ffffff; }
    .vjs-default-skin .vjs-play-progress,
    .vjs-default-skin .vjs-volume-level { background-color: #e09214 }
    .vjs-default-skin .vjs-control-bar,
    .vjs-default-skin .vjs-big-play-button { background: rgba(224,146,20,0.7) }
    .vjs-default-skin .vjs-slider { background: rgba(0,0,0,0.2333333333333333) }
    .vjs-default-skin .vjs-control-bar { font-size: 69% }
    .video-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
  </style>

</head>
<body>
	<div id='wrap' >
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <%= link_to 'Flixter', root_path, :class => 'navbar-brand' %>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><%= link_to 'See all courses', courses_path %></li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		        <% if user_signed_in? %>
			      	<li><%= link_to current_user.email, dashboard_path %></li>
			      	<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
			      <% else %> 
			      	<li><%= link_to 'Sign Up', new_user_registration_path %></li>
			        <li><%= link_to 'Sign In', new_user_session_path %><li>
			      <% end %>  
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	<% if notice.present? %>
		<p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>
</div>

<br class='clr' />

<div id='footer'>
	<div class='container'>
		<div class='col-xs-12 col-sm-6 col-md-3 footer-block'>
			<h3> Teachers </h3>
			<%= link_to 'Teach a Course', new_instructor_course_path %>
			<br />
			<%= link_to 'My Dashboard', dashboard_path %>
		
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3 footer-block'>
			<h3> About </h3>
			<%= link_to 'Team', '#' %>
			<br />
			<%= link_to 'Careers', '#' %>
			<br />
			<%= link_to 'Privacy Policy', '#' %>
			
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3 footer-block'>
			<h3> Contact </h3>
			aaron@it-kutch.com
			<br />
			my house
			<br />
			boston ma 
		</div>
		<div class='col-xs-12 col-sm-6 col-md-3 footer-block'>
			<h3> Social </h3>
			<%= link_to 'https://plus.google.com/102437981976379545813/posts' do %>
				<%= image_tag 'googleplus.png', :class => 'social-button' %>
			<% end %>
			<%= link_to 'http://www.facebook.com/awashburn1' do %>
				<%= image_tag 'facebook.png', :class => 'social-button' %>
		  <% end %>
			<%= image_tag 'twitter.png', :class => 'social-button' %>
		</div>
	</div>
</div>
</body>
</html>
